:root {
    --border: 1px solid black;
    --background: rgb(157, 157, 218);
    --secondary-back: rgb(201, 197, 209);
    --main-back: rgb(231, 231, 221);
    --dark-back: rgb(81, 81, 114);
    --contrast: rgb(158, 136, 12);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-back);
}

h2 {
    color: var(--dark-back);
}

header {
    display: flex;
    padding: 15px 5% 15px 0px;
    justify-content: space-between;
    background-color: var(--dark-back);
    flex-wrap: wrap;
    /* border: var(--border); */
}

header h1 {
    font-size: 60px;
    font-weight: 700;
    padding: 0 1% 0 5%;
    background: var(--main-back);
    color: var(--background);
    border-radius: 0 10px 10px 0;
    /* border: var(--border); */
}

header section {
    width: 60%;
    height: 80%;
    background: var(--dark-back);
}

header section ul {
    background: var(--dark-back);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: var(--border); */
}

header section ul li {
    background: var(--dark-back);
    list-style-type: none;
    margin: 10px;
    font-size: 32px;
    /* border: var(--border); */
}

header section ul li a {
    background-color: transparent;
}

header section ul li a:visited, 
header section ul li a:link {
    color: var(--background);
}

main {
    background: var(--main-back);
}

#background {
    position: relative;
    height: 350px;
    width: 100%;
    background-image: url('../images/Snowy\ Forest\ .jpg');
    background-position: top;
    background-size: cover;
    /* border: var(--border); */
}

#background h2 {
    position: absolute;
    display: inline-block;
    height: 35px;
    width: 20%;
    bottom: 10%;
    right: 5%;
    text-align: center;
    font-size: 32px;
    background: var(--secondary-back);
    /* border: var(--border); */
}

hr {
    color: var(--dark-back);
    border-width: 2px;
    border-color: var(--dark-back);
    border-radius: 2px;
}

.aside-header {
    margin: auto;
    font-size: 60px;
}

/* About Me Section */

#self {
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    justify-content: center;
    /* border: var(--border); */
}

#self #about-me {
    width: 24%;
    display: flex;
    justify-content: center;
    /* border: var(--border); */

}


#self #description {
    width: 74%;
    display: flex;
    justify-content: space-around;
    /* border: var(--border); */
}

#profile-picture {
    width: 45%;
    border: 8px solid var(--background);
    border-radius: 10px;
    margin: 2% 0;

    background-image: url("../images/profile-picture.jpg");
    background-size: cover;
    background-position: center;
}

#self #description p {
    width: 45%;
    /* margin: 2% 0; */
    /* padding: 2% 0; */
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    /* border: var(--border); */
}

#work {
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    /* border: var(--border); */
}

#work #work-title {
    width: 24%;
    display: flex;
    justify-content: center;
    /* border: var(--border); */
}

#work #showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 74%;
}

#work #showcase .cards {
    height: 200px;
    width: 45%;
    border-radius: 10px;
    opacity: 0.75;
    border: 8px solid var(--background);
}

#work #showcase #best-work {
    width: 95%;
}

#work .tab {
    display: inline-block;
    position: relative;
    top: 50%;
    right: 5px;
    height: 20%;
    /* border: var(--border); */
}

.tab h3 {
    font-weight: 600;
    font-size: 24px;
}

.tab p, .tab h3 {
    background: var(--background);
    padding: 6px;
} 

#best-work {
    background-image: url("../images/Ocean1920.jpg");
    background-position: center;
    background-size: cover;
}

#work-2 {
    background-image: url("../images/Mountain.jpg");
    background-position: center;
    background-size: cover;
}

#work-3 {
    background-image: url("../images/juijitsu.jpg");
    background-position: center;
    background-size: cover;
}

#work-4 {
    background-image: url("../images/cyberpunk-city.jpg");
    background-position: center;
    background-size: cover;
}

#work-5 {
    background-image: url("../images/earth.jpg");
    background-position: center;
    background-size: cover;
}

.cards:link,
.cards:visited {
    color: var(--dark-back);
}

.cards:hover, 
.cards:focus {
    opacity: 1.0 !important;
}

.cards:active {
    color: var(--main-back);
}

footer {
    display: flex;
    height: 150px;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: var(--border); */
}

#contact-info {
    width: 24%;
    display: flex;
    justify-content: center;
    /* border: var(--border); */
}

#links {
    display: flex;
    justify-content: center;
    width: 74%;
} 

#links ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    /* border: var(--border); */
}

#links ul li {
    display: flex;
    list-style-type: none;
    font-size: 32px;
    justify-content: space-around;
    margin: auto;
    /* border: var(--border); */
}

#links ul li a {
    background: transparent;
}

#links ul li a:link,
#links ul li a:visited {
    color: var(--dark-back);
}

/* Desktop */
@media screen and (max-width: 992px) {
    
    #self #profile-picture,
    #self #description p {
        font-size: 16px;
    }

    header section {
        width: 50%;
    }
}

/* Large smartphones */
@media screen and (max-width: 768px) {

    header section {
        width: 50%;
    }

    #background h2 {
        width: 40%;
    }

    #self #description {
        flex-direction: column;
        text-align: center;
    }

    #self #profile-picture,
    #self #description p {
        width: 95%;
        height: 45%;
        font-size: 16px;
        margin: auto;
    }
}

/* Smaller smartphones */
@media screen and (max-width: 576px) {
    
    header {
        height: 175px;
    }

    header h1 {
        margin: center;
    }

    header section {
        width: 100%;
        height: 180px;
    }

    #background h2 {
        right: 0%;
        width: 100%;
    }

    hr {
        margin: 2%;
    }

    #self, 
    #self #about-me, 
    #self #description, 
    #self #profile-picture, 
    #self #description p {
        width: 100%;
        height: fit-content;
    }

    #self,
    #self #description {
        flex-direction: column;
        text-align: center;
    }

    #self #description p {
        width: 90%;
        font-size: 16px;
        margin: auto;
    }

    #self #profile-picture {
        width: 90%;
        height: 180px;
        margin: auto;
    }

    #work,
    #work #work-title,
    #work #showcase {
        width: 100%;
        height: fit-content;
    }

    #work {
        flex-direction: column;
        text-align: center;
    }

    #work #showcase {
        width: 95%;
        margin: auto;
    }

    #work .tab {

    }

    footer,
    footer #contact-info,
    footer #links {
        width: 100%;
        height: fit-content;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
}