:root {
    --border: 1px solid black;
    --background: rgb(157, 157, 218);
    --secondary-back: rgb(155, 149, 149);
    --main-back: rgb(231, 231, 221);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-back);
}

header {
    display: flex;
    padding: 15px 5% 15px 0px;
    justify-content: space-between;
    /* border: var(--border); */
    background-color: var(--secondary-back);
    flex-wrap: wrap;
}

header h1 {
    font-size: 60px;
    font-weight: 700;
    /* border: var(--border); */
    padding-left: 5%;
    background: var(--background);
}

header section {
    width: 40%;
    height: 80%;
    background: var(--secondary-back);
}

header section ul {
    background: var(--secondary-back);
    display: flex;
    /* text-align: center; */
    /* border: var(--border); */
    justify-content: space-around;
    /* font-weight: 200; */
}

header section ul li {
    background: var(--secondary-back);
    /* color: var(--secondary-back); */
    list-style-type: none;
    /* font-weight: 200; */
    margin: 10px;
    font-size: 32px;
    /* border: var(--border); */
}

header section ul li a {
    background-color: transparent;
}

main {
    background: var(--main-back);
}

#background {
    position: relative;
    height: 150px;
    width: 100%;
    /* margin: 0px 5px; */
    /* border: var(--border); */
}

#background h2 {
    position: absolute;
    border: var(--border);
    display: inline-block;
    height: 25%;
    width: 20%;
    bottom: 10%;
    right: 5%;
    text-align: center;
    font-size: 32px;
}

hr {
    /* height: 3px; */
    /* border-radius: 10%; */
    /* width: 3px; */
    color: var(--background);
    border-width: 2px;
    border-color: var(--background);
    border-radius: 2px;
}

/* About Me Section */

#self {
    /* border: var(--border); */
    display: flex;
    height: 200px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#self #about-me {
    /* border: var(--border); */
    width: 24%;
    display: flex;
    justify-content: center;

}

#self #about-me h2 {
    /* border: var(--border); */
    margin: auto;
    font-size: 60px;
    /* flex-wrap: wrap; */
}

#self #description {
    /* border: var(--border); */
    width: 74%;
    display: flex;
    justify-content: center;
}

#self #description p {
    border: var(--border);
    width: 85%;
    margin: 2% 0;
    font-size: 24px;
}

#work {
     border: var(--border);
     height: 800px;
     display: flex;
}

/* Header should only take up space it needs, not the height of the entire container */

#work #work-title {
    border: var(--border);
    width: 24%;
    display: flex;
    justify-content: center;
    /* flex-basis: 25%; */
}

#work #work-title h2 {
    border: var(--border);
    /* margin-top: 10%; */
    /* margin-bottom: 650px; */
    font-size: 60px;
    padding-top: 10%;
}

/* TODO: Work on making cards fit into container */
/* TODO: Make only the showcase have the height of the entire container */

#work #showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 74%;
    /* text-align: center; */
    /* margin: 1%; */
}

#work #showcase .cards {
    height: 200px;
    width: 45%;
    border: 8px solid var(--background);
    border-radius: 10px;
    /* flex: 2; */
    /* position: relative; */
}

#work #showcase #best-work {
    width: 95%;
    /* flex: 1; */
}

#work .tab {
    /* border: var(--border); */
    display: inline-block;
    /* position: absolute; */
    position: relative;
    top: 50%;
    right: 5px;
    /* background: var(--background); */
    /* margin-left: 0px; */
    /* flex-direction: column; */
    /* justify-content: start; */
    /* text-align: start; */
    height: 20%;
}

.tab p {
    background: var(--background);
    font-weight: 300;
    padding: 7px;
}

/* TODO: Fix footer with sections and margins */

footer {
    /* border: var(--border); */
    display: flex;
    height: 175px;
    /* padding: 15px; */
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Contact info header for left side */
#contact-info {
    /* border: var(--border); */
    width: 24%;
    display: flex;
    justify-content: center;
    /* margin: 0; */
    /* flex-wrap: wrap; */
}

#contact-info p {
    /* border: var(--border); */
    margin: auto;
    font-size: 60px;
}

/* Links located on the right side */
#links {
    display: flex;
    justify-content: center;
    /* text-align: center; */
    width: 74%
} 

#links ul {
    display: flex;
    
    /* border: var(--border); */
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

#links ul li {
    display: flex;
    flex: 1;
    list-style-type: none;
    /* margin: 10px; */
    font-size: 32px;
    /* border: var(--border); */
    justify-content: space-around;
    margin: auto;
    /* text-align: center; */
    /* padding: 3% 0; */
}

#links ul li a {
    background: transparent;
}
